
.labe-test{
    width: auto;
    height: 40px;
    font-size: 15px;
    font-family: Inter-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    line-height: 12 px;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 6px 20px;
    background-color: rgb(26, 26, 30);
    opacity: 0.9;
    /* border: 2px solid yellow; */
}
.labe-test > button{
    margin-top: 3px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color:black;
    width: 10%;
    height: 30px;
    border-radius: 6px;
}
/* ------------------------------------------------------------------------- */
.slider{
    margin-top: -5px;
    width:100%;
    height:250px;
    /* border-radius: 10px; */
    overflow:hidden;
}
.slides{
    width:500%;
    height:400px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    /* border: 1px solid rgb(15, 9, 70); */
    width:20%;
    transition: 2s;
}
.slide img{
    width:100%;
    height:250px;
}
/* ---------------------css for manual side navigation */
.navigation-manual{
    /* border: 1px solid rgb(28, 17, 128); */
    position: absolute;
    width: 100%;
    margin-top: -170px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid white;
    padding:5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: rgb(16, 15, 16);
}
/* ------------ */
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}

/* ------------------css for automatic navigation---- */
.navigation-auto{
    position: absolute;
}
.navigation-auto div{
    /* border: 2px solid orangered; */

}
/* ------------------------------top css sliding part finish------------------- */

/* --------------css shopping part start---------------------- */
#items-upperpart{
    margin: auto;
    padding-top: 50px;
    width: 90%;
}
.labtest{
    font-size: 20px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.labtest~p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
}

.items{
    /* border: 1px solid red; */
    padding-top: 20px;
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,auto);
    gap: 60px 30px;
}

.items > div{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    height: 310px;
}

.items >div>img{
    width:100%;
    height:auto;
    border-radius: 5px;
}

.price{
    margin-top: -4px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    /* border: 1px solid red; */
}
.seniorCtzn{
    margin-top: 80px;
    margin-left: 60px;
    font-weight: 500;
    font-size:35px;
}
/* ------------------------------------shopping part css finish---------------------- */



