body{
    background-color:white;
    margin: 0;
    padding: 0;
}
/* --------------------------------Navbar vdo part CSS-------------------------------------- */
.nav-video{
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:100%;
    height: 800px;
    }
    #video-hov{
        width: 50%;
        margin: auto;
        /* border: 1px solid blue; */
        color: white;
        position: relative;
        top:250px;
        font-size: xx-large;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        }
        #video-hov>img{
            width: 70%;
        }
        #video-hov>div>button{
            /* border: 1px solid blue; */
            border-radius: 5px;
            height: 40px;
            width:40%;
            font-weight: 700;
        }
        button>a>span{
            color: red;
            font-family: Arial, Helvetica, sans-serif;
            font-size: medium;
            font-weight: bolder;
            text-decoration: none;
        }
        /* ---------------------------TRY FOR FREE------------------------- */
        #try-free{
            /* border: 2px solid yellow; */
            width: 80%;
            height: auto;
            margin: auto;
            margin-top: 30%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(1,auto);
            gap:20px;
        }
        #try-free > div{
            /* margin: auto; */
            border: 1px solid rgb(132, 215, 243);
            border-radius: 10px;
            font-size: medium;
            color: white;
            text-align: center;
            /* ---- */
            padding: 10px 20px;
            background-color: #232631;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        }
        #try-free > div:hover{
            background-color: rgb(148, 152, 152);
        }
        #try-free > div >img{
            margin: auto;
            margin-top: 20px;
            width: 40%;
        }
        /* #top-last>div:hover{
            background-color: #323952;
        } */
        /* --------------------------another homepage 1st part--------------------------- */
        #fun-part{
            margin: auto;
            width: 80%;
            height: 500px;
            margin-top: 10%;
            /* border: 2px solid red; */
            display: flex;
            justify-content: space-between;
        }
        #fun-part>div:nth-child(1){
            width:33%;
            font-size: 18px;
            font-weight:bold;
            color: #5d5c5c;
            margin-bottom: 10%;
            line-height: 40px;
        }
        #fun-part>div:nth-child(2){
            /* border: 1px solid#171A26; */
            background-color: #bbcfd4f7;
            width: 65%;
            height: 72%;
            margin-top: 30px;
            border-radius: 10px;
        }
        #fun-part>div:nth-child(2)>video{
            border-radius: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        /* ----------------------------2nd part--------------------------- */
        #fun-cult-part{
            /* border: 2px solid crimson; */
            display: block;
            width:80%;
            margin: auto;
            margin-top: 80px;
        }
        #mix-img-part1{
            /* border: 2px solid blue; */
            width: 100%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }
        .mix-img{
            /* border: 2px solid rgb(168, 231, 23); */
            z-index: -1 ;
            position: absolute;
        }
        .hover{
            /* border: 2px solid rgb(215, 23, 225); */
            font-weight: 700;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            width: 60%;
            margin-left: 10px;
            color: white;
            margin-top: 10px
        }
        .hover >button{
            font-weight: 700;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 20px;
            padding: 3px 9px;
            border: 1px solid white;
            color: white;
            background-color: black;
        }
        #fun-cult-part > div:nth-child(2) >p{
            color: rgba(58, 54, 54, 0.771);
            font-size:x-large;
            font-weight: bold;
            word-spacing:5px;
            letter-spacing: 3px;
            font-family: Georgia, serif;
        }
        .explore{
            font-size: 18px;
            float: right;
            margin-top: -50px;
        }
        .explore > span{
            font-size: 20px;
            font-family: BrandonTextWeb-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
            cursor: pointer;
            padding-top: 0;
            color: black;
            font-weight: 700;
        }
        .explore-img{
            height: 22px;
            width: 10px;
            margin:auto;
            margin-left: 10px;
            transform: rotate(180deg);
        }
        .img-paragraph{
            word-spacing:3px;
            font-family: Georgia, serif;
            width: 60%;
            color: #5d5c5c;
            margin-bottom: 50px;
        }